.rating {
  display: flex;

  label {
    padding: 0 3px;
  }

  .rating__image {
    fill: $bg-star;

    &--active {
      fill: $bg-button;
    }
  }

  input:focus + label {
    outline: 1px solid $fnt-clr-plain;
  }

  &:hover {
    .rating__image {
      fill: $bg-button;
    }

    input:hover ~ input + label .rating__image {
    fill: $bg-star;
    }
  }
}

