.rating {
  display: flex;

  label {
    padding-right: 6px;
  }

  .rating__image {
    fill: $bg-star;

    &--active {
      fill: $bg-button;
    }
  }

  &:hover {
    .rating__image {
      fill: $bg-button;
    }

    input:hover ~ label .rating__image {
    fill: $bg-star;
    }
  }
}

