.stars {
  position: relative;
  display: inline-block;
  width: 103px;
  height: 17px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('./img/stars.svg');
    background-repeat: no-repeat;
    background-size: 103px 17px;
  }
}

.stars span {
  position: absolute;
  top: 0;
  left: 0;
  width: 103px;
  height: 17px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('./img/stars-active.svg');
    background-repeat: no-repeat;
    background-size: 103px 17px;
  }
}
