.price {
  display: flex;
  align-items: center;
  margin-bottom: 38px;
  padding-left: 3px;

  line-height: normal;
}

.price__actual {
  margin-right: 34px;

  font-size: $fnt-size-large;
  font-weight: bold;
}

.price__before {
  position: relative;
  padding-top: 3px;
  color: $fnt-clr-lighter;
  font-size: $fnt-size-tab;

  &::after {
    content: '';
    position: absolute;
    bottom: 14px;
    left: -3px;
    width: 105%;
    height: 1px;
    background-color: $line-clr;
    transform: rotate(-5deg);
  }
}
