.rating {
  display: flex;
  flex-direction: row-reverse;

  label {
    margin-right: 6px;
  }

  input:hover ~ label .rating__image {
    fill: $bg-button;
  }

  input:focus + label {
    outline: 2px solid black;
  };

  input:checked ~ label .rating__image {
    fill: $bg-button;
  }
}

.rating__image {
  fill: $bg-star;
}
