.reviews {
  position: relative;
}

.reviews__list {
  @include list-reset();
}

.reviews__button {
  position: absolute;
  top: 19px;
  right: 8px;
}

@media (max-width: $tablet-width) {
  .reviews__button {
    position: static;
  }
}
