.properties {
  @include list-reset();

  display: flex;
  flex-direction: column;
  max-width: 565px;
}

.properties__item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 19px;
  padding-bottom: 8px;
  border-bottom: 1px solid $border-clr;

  dt {
    width: max-content;
  }

  dd {
    margin-left: auto;
    color: $fnt-clr-plain;
  }
}
