.properties {
  @include list-reset();

  display: flex;
  flex-direction: column;
  width: 565px;
}

.properties__item {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 8px;
  border-bottom: 1px solid $border-clr;

  dt {
    width: 70%;
  }

  dd {
    color: $fnt-clr-plain;
  }
}
