.main-footer {
  padding-top: 30px;
  font-size: $fnt-size-basic;
  line-height: normal;
  font-weight: 600;
  color: $fnt-clr-basic;
  background-color: $bg-header;
}

.main-footer__container {
  @include container();
}

.main-footer__menu {
  @include list-reset();

  margin-left: 8px;
  margin-right: -66px;
  display: flex;
  flex-wrap: wrap;
}

.main-footer__item {
  padding-bottom: 30px;
  margin-right: 63px;
}

.main-footer__link {
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $tablet-width) {
  .main-footer__menu {
    justify-content: center;
    margin-right: 0;
  }
}
