.main-footer {
  padding-top: 30px;
  font-size: $fnt-size-basic;
  line-height: normal;
  font-weight: 600;
  color: $fnt-clr-basic;
  background-color: $bg-header;
}

.main-footer__container {
  @include container();
}

.main-footer__menu {
  @include list-reset();

  margin-left: 8px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-footer__item {
  padding-bottom: 30px;
  padding-right: 15px;
}
.main-footer__link {
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}
