.slider {
  padding-top: 16px;
  margin-bottom: 88px;
}

.slider__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 375px;
  margin-bottom: 40px;
  overflow: hidden;

  img {
  width: 100%;
  object-fit: cover;
  }
}

.slider__mark {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 122px;
  padding: 7px 27px 9px;

  font-size: $fnt-size-tab * 0.5;
  color: $bg-basic;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  background-color: $bg-button;
  text-align: center;
}

.slider__gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 auto;
}

.slider__list {
  @include list-reset();

  margin: 0 31px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.slider__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 80px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: $desktop-width) {
  .slider {
    margin-bottom: 60px;
  }

  .slider__image {
    width: 726px;
    height: 424px;
  }
}
@media (max-width: $tablet-width) {
  .slider {
    margin-bottom: 20px;
  }

  .slider__image {
    width: 100%;
    height: auto;
  }
  .slider__gallery {
    display: none;
  }
}
