.slider {
  padding-top: 16px;
  margin-bottom: 88px;
}

.slider__image {
  position: relative;
  display: flex;
  width: 100%;
  height: 375px;
  margin-bottom: 40px;
  overflow: hidden;

  img {
    min-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
}

.slider__mark {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 122px;
  padding: 7px 27px 9px;

  font-size: $fnt-size-tab * 0.5;
  color: $bg-basic;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  background-color: $bg-button;
  text-align: center;
}

.slider__gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__list {
  @include list-reset();

  margin: 0 31px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.slider__preview {
  width: 128px;
  height: 80px;

  img {
    min-height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
}
